#cont {
	width: 70%;
	min-width: 900px;
	/*border: 1px solid black;*/
	margin: 0 auto;
}

/*
 *  SVG STYLES
 */

#puzzle {
	width: 100%;
	height: 100%;
}

#piece1 .piece {
    fill: #2f7ed8;
}

#piece2 .piece {
    fill: #0d233a;
}

#piece3 .piece {
    fill: #8bbc21;
}

#piece4 .piece {
    fill: #910000;
}

#piece5 .piece {
    fill: #1aadce;
}

#piece6 .piece {
    fill: #492970;
}

#piece7 .piece {
    fill: #f28f43;
}

.piece-group > .piece {
    fill-opacity: 0.7;

    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.piece-group > .headline {
    font-family: 'Crimson', serif;
}

.piece-group > .preview {
    opacity: 0;
    font-family: Georgia, serif;

    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
}

.piece-group:hover {
    cursor: pointer;
}

.piece-group:hover > .piece {
    fill-opacity: 0.3;
    fill: #000000;

    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.piece-group:hover > .preview {
    display: block;
    opacity: 1;

    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
}

/*
 *  ADDITIONAL ARTICLE STYLES
 */

#other-articles {
    margin-top: 50px;
}

.article-column {
    font-family: Georgia, serif;
    /* text-align: center; */
    width: 33%;
    float: left;
}

.article-column .column-inner {
    width: 85%;
    margin: 0 auto;
    border-top: 3px solid #333;
}

.article-column h3 {
    font-family: Crimson, serif;
    font-size: 1.4em;
    padding-top: 7px;
    margin-bottom: 0;
    border-top: 1px solid #333;
    margin-top: 2px;
    border-bottom: 1px double #333;
    border-bottom-style: double;
}

.article-column a {
    color: #ba0600;
}
