<div class="article-column">
    <div class="column-inner">
        <h3>{{ section }}</h3>
        <div class="articles">
            <p class="headline"><a href="#">Article 1 - This is a pretty cool read</a></p>
            <p class="headline"><a href="#">Article 1 - This is a pretty cool read</a></p>
            <p class="headline"><a href="#">Article 1 - This is a pretty cool read</a></p>
        </div>
    </div>
</div>
